/*---carousel contacto----*/

.carousel-item h5 {
    color: $color-1  !important;
    background-color: black;


}

.carousel-item p {
    color: $color-1  !important;
    background-color: black;
}


/*----formulario----*/

.mb-3 {
    color: $color-1  !important;
}

/*----grid productos----*/

.productos{
    padding: 200px 0 100px 0 !important;

.row2 {


    div {
        margin: 20px !important;

        img {
            height: 150px !important;
        }
    }

}

}